.calcBody {
  background-color: rgba(128, 128, 128, 0.53);
  border: .5em solid black;
}

.calcResultRow {
  background-color: white;
  text-align: center;
  width: 100%;
  height: 7em;
  line-height: 7em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-left: auto;
  margin-right: auto;
}

.calcResultRow span {
  color: black;
  display: inline-block;
}

.calcButtonRows {
  margin-left: 1em;
}

.result {
  font-size: 24pt;
  color: white;
}

.btn-default {
  width: 24%;
  font-size: 18pt;
  background-color: #e6e6e6;
}

.btn:focus {
   outline: none !important;
   text-decoration: none !important;
}

.btn:active {
  outline: none !important;
  text-decoration: none !important;
}
